backend/.env
backend/.venv/
backend/__pycache__/
backend/data/*.geojson
frontend/.env
frontend/node_modules/
frontend/dist/
sync_gcn/.env
sync_gcn/service_account.json
sync_gcn/venv/
sync_gcn/__pycache__/

